<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ComputerMaintenance</title>


		<!-- CSS -->
		<link rel="stylesheet" href="../css/styles1.css">
	</head>

<body>

	<header>
		<img src="../images/logo.png" alt="Logo image">
		<nav>
			<ul>
				<li><a href="index.php">Main</a></li>
				<li><a href="index.php?module=kliento_prijungimas" <?php if($module == 'kliento_prijungimas') { echo 'class="active"'; }?>>Login Here</a></li>
				<li><a href="#">Computers shop</a></li>
				<li><a href="#">Computers maintenance</a></li>
				<li><a href="#">Computer parts</a></li>
			</ul>
		</nav>		
	</header>
	
			
	<main>
		<div class="maintenance-form" align="center">
		
			<h1>Service scren</h1>
			<p>User: First service </p>
			<p>User: Second service </p>
			<p>User: Third service </p>
			<p>User: Fourth service </p>
			<p>User: Fifth service </p>
			<p>User: Sixth service </p>
			<p>User: Seventh service </p>
			<p>User: Eighth service </p>

			<br>
			<p>
			<button type="button"><a href="ComputerMaintenanceCreation.html" class="to_register">Book a service!</a></button>
			</p>
		</div>
	</main>
	
	
	
	<footer>
		<h2>Web Page</h2>
	</footer>




</body>
</html>
