<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>ComputerBuy</title>
	
	<!-- CSS -->
	<link rel="stylesheet" href="../css/styles1.css">
	<!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>

	<header>
		<img src="../images/logo.png" alt="Logo image">
		<nav>
			<ul>
				<li><a href="Main.html">Main</a></li>
				<li><a href="Login.html">Login Here</a></li>
				<li><a href="ComputerBuy.html">Computers shop</a></li>
				<li><a href="ComputerMaintenance.html">Computers maintenance</a></li>
				<li><a href="#">Computer parts</a></li>
			</ul>
		</nav>		
	</header>
	
	<main>
	
	<div class="hero-box">
	<h1> Computer shop </h1>
	</div>
	
	<br>
	
	<div>
	
		<div class="col" align="center">
										<img src="../images/pc1.png" alt="">
										<div>
										Dell Latitude E5470 <br>
										Intel Core i5-6440HQ,2.6GHz <br>
										Intel HD Graphics 530 <br>
										16GB DDR4, 2133MHz <br>
										256GB SSD <br>
										1920x1080 tšk. (Full HD) <br>
										Windows 10 Professional <br>
										<h3>930€</h3> <br>
								    	<button type="button">Buy!</button>
									    </div>
										</div>
		<div class="col" align="center">
	 				    				<img src="../images/pc2.png" alt="">
		 				    			<div>
			 				    		Dell Precision M3520 <br>
				 				    	Intel Core i5-7440HQ,2.8GHz <br>
					 				    NVIDIA Quadro M620 (2GB GDDR5 VRAM) <br>
					 				    16GB DDR4, 2133MHz <br>
					 				    512GB SSD <br>
					 				    1920x1080 tšk. (Full HD) <br>
										Windows 10 Professional <br>
					 				    <h3>1699€ </h3> <br>
					 				    <button type="button">Buy!</button>
						 				</div>
						 				</div>
		<div class="col"  align="center">
						 	 	 	 	 <img src="../images/pc3.png" alt="">
							 	 	 	 <div>
								 	 	 Asus GL553VD-DM824T <br>
									 	 Intel Core i5 7300HQ, 2.50 GHz <br>
									 	 NVIDIA GeForce GTX1050 <br> 
									 	 16GB DDR4, 2133MHz <br>
									 	 256 GB SSD <br>
									 	 1920x1080 tšk. (FULL HD) <br>
									 	 Windows 10 Professional <br>
									 	 <h3> 999€ </h3> <br>
									 	 <button type="button">Buy!</button>
										 </div>
										 </div>
	</div>
	
	<div class="col" align="center">
										<img src="../images/pc1.png" alt="">
										<div>
										Dell Latitude E5470 <br>
										Intel Core i5-6440HQ,2.6GHz <br>
										Intel HD Graphics 530 <br>
										16GB DDR4, 2133MHz <br>
										256GB SSD <br>
										1920x1080 tšk. (Full HD) <br>
										Windows 10 Professional <br>
										<h3>930€</h3> <br>
								    	<button type="button">Buy!</button>
									    </div>
										</div>
										
	<div class="col" align="center">
										<img src="../images/pc1.png" alt="">
										<div>
										Dell Latitude E5470 <br>
										Intel Core i5-6440HQ,2.6GHz <br>
										Intel HD Graphics 530 <br>
										16GB DDR4, 2133MHz <br>
										256GB SSD <br>
										1920x1080 tšk. (Full HD) <br>
										Windows 10 Professional <br>
										<h3>930€</h3> <br>
								    	<button type="button">Buy!</button>
									    </div>
										</div>
										
	<div class="col" align="center">
										<img src="../images/pc1.png" alt="">
										<div>
										Dell Latitude E5470 <br>
										Intel Core i5-6440HQ,2.6GHz <br>
										Intel HD Graphics 530 <br>
										16GB DDR4, 2133MHz <br>
										256GB SSD <br>
										1920x1080 tšk. (Full HD) <br>
										Windows 10 Professional <br>
										<h3>930€</h3> <br>
								    	<button type="button">Buy!</button>
									    </div>
										</div>
										
	<div class="col" align="center">
										<img src="../images/pc1.png" alt="">
										<div>
										Dell Latitude E5470 <br>
										Intel Core i5-6440HQ,2.6GHz <br>
										Intel HD Graphics 530 <br>
										16GB DDR4, 2133MHz <br>
										256GB SSD <br>
										1920x1080 tšk. (Full HD) <br>
										Windows 10 Professional <br>
										<h3>930€</h3> <br>
								    	<button type="button">Buy!</button>
									    </div>
										</div>

	</main>


</body>
</html>
